/* 
Colores autilizar

#252525
#7f8084
#d7d8da
#f3f3f3

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background: #fff;
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
  position: fixed;
}

body {
  background: #f3f3f3;
}

.navbar-container {
  display: flex;
  height: 60px;
  width: 70%;
  justify-content: center;
  margin: 0px auto;
}

.navbar-container_logo {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-container_logo img {
  width: 150px;
}

.navbar-container_items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
}

li {
  list-style: none;
}

nav ul li a {
  color: #7f8084;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

nav ul li a:hover {
  border-bottom: 2px solid #3f3d56;
}

.hero {
  width: 70%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
}

.hero-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40vw;
}

.hero-texto h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 3rem;
  line-height: 55px;
  color: #252525;
}

.hero-texto p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 40px 0;
  color: #7f8084;
}

.hero-imagen {
  display: flex;
  width: 40vw;
  justify-content: center;
  align-items: center;
}

.hero-imagen img {
  width: 100%;
  border-radius: 50%;
}

.hero-botones_primero {
  width: 12vw;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #3f3d56;
  background: #3f3d56;
  color: #fff;
  margin-right: 15px;
  font-family: Poppins;
  cursor: pointer;
}

.hero-botones_primero:hover {
  background: #252525;
  color: #fff;
  border: 2px solid #252525;
}

.hero-botones_segundo {
  width: 8vw;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #3f3d56;
  background: #f3f3f3;
  font-family: Poppins;
  cursor: pointer;
  color: #3f3d56;
}

.hero-botones_segundo:hover {
  background: #252525;
  color: #fff;
  border: 2px solid #252525;
}

.descripcion-contenedor {
  width: 100%;
  height: 50vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252525;
}

.descripcion {
  color: #fff;
  font-family: Roboto;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ventajas-contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ventajas {
  display: flex;
  height: 100%;
  width: 70vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ventajas-titulo {
  font-family: Poppins;
  text-align: center;
}

.ventajas-titulo h2 {
  color: #3f3d56;
}

.ventajas-titulo p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 20px;
  color: #7f8084;
}

.ventajas-imagenes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Poppins;
  text-align: center;
}

.ventajas-imagenes h2 {
  margin: 20px;
  color: #252525;
}

.ventajas-imagenes p {
  font-family: Roboto;
  font-weight: 400;
  color: #7f8084;
  text-align: center;
  font-size: 1rem;
}

.ventajas-imagenes img {
  width: 150px;
  height: 100px;
}

.ventajas-imagenes_contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  align-items: center;
  width: 20%;
}

.comoTrabajamos-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
}

.comoTrabajamos {
  display: flex;
  height: 100%;
  width: 70vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.comoTrabajamos-titulo {
  font-family: Poppins;
  text-align: center;
  width: 60%;
}

.comoTrabajamos-titulo h2 {
  color: #fff;
}

.comoTrabajamos-titulo p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 20px;
  color: #7f8084;
}

.comoTrabajamos-imagenes img {
  width: 100px;
  height: 100px;
}

.comoTrabajamos-imagenes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Poppins;
  text-align: center;
}

.comoTrabajamos-imagenes h2 {
  margin: 20px;
  color: #fff;
}

.comoTrabajamos-imagenes p {
  font-family: Roboto;
  font-weight: 400;
  color: #7f8084;
  text-align: center;
  font-size: 1rem;
}
